@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  min-height: 100vh;
  color: #fff;
}

.main {
  width: 780px;
  padding: 2rem 1rem;
  border-radius: 20px;
  background-color: black;
}

header h2 {
  font-size: 1.6rem;
}

header {
  margin: 1rem 2rem;
}

header .column {
  display: flex;
  align-items: center;
}

header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}

.main header {
  color: #b2b2b2;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.piano-keys {
  display: flex;
}

.volume-slider input {
  accent-color: #fff;
}

.keys-check input {
  width: 60px;
  height: 30px;
  appearance: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #4b4b4b;
  position: relative;
}

.keys-check input::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #8c8c8c;
  border-radius: inherit;
  position: absolute;

  top: 50%;
  left: 0.3rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.keys-check input:checked::before {
  left: 2.1rem;
  background-color: #fff;
}

.piano-keys {
  display: flex;
  margin-top: 40px;
}

.piano-keys .key {
  cursor: pointer;
  list-style: none;
  color: #a2a2a2;
  position: relative;
  text-transform: uppercase;
}

.piano-keys .white {
  width: 70px;
  height: 230px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black.active {
  box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom #000, #434343);
}

.piano-keys .black {
  width: 44px;
  height: 140px;
  border-radius: 0 0 5px 5px;
  z-index: 2;
  margin: 0 -22px 0 -22px;
  background: linear-gradient(#333, #000);
}


.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.13rem;
}


.piano-keys .key.hide span{
  display: none;
}